.edit-photos {
  display: flex;
  justify-content: space-around;
  padding-top: 10px
}

.avatar-photo {
  height: 25vh;
  width: 20%;
  background-size: cover;
  background-position: center;
  margin-right: 10px !important;
  border-radius: 5px;
}
.edit-box-for-cards {
  margin-top: 10px;
  margin-bottom: 20px;
}
.avatar {
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
}

.add-btn {
  position: absolute;
  bottom: 0px;
  right: -7px;
  img {
    height: 30px;
    width: 30px;
  }
}

.attribute-body {
  background: white;
  padding: 10px;
  border-radius: 2px;
}

.remove-profile {
  margin-top: 20px;
}

.input-no-resize {
  resize: none;
}
.modal-content {
  margin-top: 70px;
}
