.edit-photos {
  display: flex;
  justify-content: space-around;
  margin-top: 10px
}

.avatar-photo {
  height: 50vh;
  width: 55%;
  background-size: cover;
  background-position: center;
}

.avatar {
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
}

.add-btn {
  position: absolute;
  bottom: 0px;
  right: -7px;
  img {
    height: 30px;
    width: 30px;
  }
}

.attribute-body {
  background: white;
  padding: 10px;
  border-radius: 2px;
}

.remove-profile {
  margin-top: 20px;
}

.input-no-resize {
  resize: none;
}
