.edit-photos {
  display: flex;
  justify-content: space-around;
  padding-top: 10px
}

.swiper-edit .swiper-slide{
  position: relative;
  /* Center slide text vertically */
  display: flex;
  justify-content: space-between;
  align-items: center;

  .link-image-edit {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.footer-flexbox {
  display: flex;
  text-align: none !important;
  border: none !important;
  justify-content: center;
}
.avatar-photo {
  height: 20vh;
  width: 25% !important;
  margin-left: 5px;
  background-size: cover;
  background-position: center;
  margin-right: 10px !important;
  border-radius: 5px;
}
.edit-box-for-cards {
  padding-top: 10px;
  margin-bottom: 20px;
}
.avatar {
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
}

.add-btn {
  position: absolute;
  bottom: 0px;
  right: -7px;
  img {
    height: 30px;
    width: 30px;
  }
}

.attribute-body {
  background: white;
  padding: 10px;
  border-radius: 2px;
}

.remove-profile {
  margin-top: 20px;
}

.input-no-resize {
  resize: none;
}
.modal-content {
  margin-top: 70px;
}
