<h2 class="profiles-title text-center hidden-xs">Your top profiles for today</h2>
<div class="not-for-mobile-container">

  <div class="profile-cards">
    <div class="swiper-container-all-cards">
        <div class="swiper-wrapper">
          <%= @users.take(5).each do |user| %>
            <div class="swiper-slide"><%= render "shared/new-card", user: user %></div>
          <% end %>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="row kill-margin">
      <% @users.take(1).each do |user| %>
        <div class="col-xs-12 col-sm-4 kill-padding" align="center">
          <%= render "shared/card", user: user %>
        </div>
      <% end %>
  </div>

</div>
