<div class="not-for-mobile-container">
<!--   <h2 class="profiles-title text-center hidden-xs">Your top profiles for today</h2>
 -->
  <div class="profile-cards">
    <div class="swiper-container swiper-all-cards">
        <div class="swiper-wrapper">
          <% @users.each do |user| %>
            <div class="swiper-slide"><%= render "shared/card", user: user %></div>
          <% end %>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-all-cards"></div>
    </div>
  </div>

</div>
