<!-- <div class="onboard-wrapper"> -->
  <!-- Slider main container -->
  <div class="swiper-container swiper-onboard">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="card-container">
              <div class="card onboard-card">
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary btn-block onboard-card-next">Next</button>
                  </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card-container">
              <div class="card onboard-card">
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary btn-block onboard-card-next">Next</button>
                  </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card-container">
              <div class="card onboard-card">
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary btn-block">Done</button>
                  </div>
              </div>
            </div>
          </div>

      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

  </div>
<!-- </div> -->


