<div class="banner-photos">

</div>

<div class="container profile-content">
  <div class="profile-titles">
    <div class="user-title">
      Lili, 21
    </div>
    <div class="match-percentage">
      84% match
    </div>
  </div>

  <div class="profile-attributes">
    <h3>What I'm into</h3>
    <p>
      Currently studying History of Art, and looking for a serious relationship. My interests include History, Art, and relationships.

      I like coming up with big ideas and then bring them to life. Love good music. I have a passion for architecture. Always eager to learn new things.

      Free to chat and meet up on campus at any time!

    </p>
  </div>
</div>

<div class="buttons">
  <div class="no">
    <%= image_tag("no-btn.png") %>
  </div>
  <div class="like">
    <%= image_tag("like-btn.png") %>
  </div>
</div>
