<div class="tagged-photos-container">
  <div class="row">
    <select>
      <% @user.all_fb_photos_page.each do |url| %>
        <option class="tagged-photo col-xs-4" style="background-image: url(<%= url %>);"></option>
      <% end %>
    </select>
  </div>
</div>

<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select>
