<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "gril" %>);">
  <div class="card-content">
    <h3> <%= profile.first_name  %>, 19 </h3>
    <p> Economics </p>
  </div>
  <div class="card-interest">

  </div>
</div>
