<div class="message <%= user_is_messages_author ? "right" : "" %>">
  <%= link_to profile_path(message.user) do %>
    <%= image_tag (message.user.user_images.first&.small_url || message.user.facebook_picture_url), class: "avatar" %>
  <% end %>
  <div class="message-content"><%= message.content %></div>
</div>
