<div class="message <%= user_is_messages_author ? "right" : "" %>">
  <%= link_to profile_path(message.user) do %>
    <%= image_tag message.user.facebook_picture_url, class: "avatar" %>
  <% end %>
  <div class="message-content">
    <p>
      <%= message.content %>
    </p>
  </div>
</div>
