<div class="new-card-container">
  <div class="new-card">
    <%= link_to profile_path(user), class: "card-link" do %>

      <div class="new-card-photo">

        <!-- Slider main container -->
        <div class="swiper-container swiper-single-card">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <!-- test slide below -->
                <div class="swiper-slide profile-photo" style="background-image: url('http://res.cloudinary.com/dvojg9owe/image/upload/v1504357136/grill_siomai.jpg');" ></div>
                <!-- end of test slide -->
                <% user.user_images.take(5).each do |image| %>
                  <div class="swiper-slide" style="background-image: url( <%= image_path image.medium_url %>);" ></div>
                <% end %>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination-white swiper-single-card"></div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev swiper-single-card"></div> -->
            <!-- <div class="swiper-button-next swiper-single-card"></div> -->

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar swiper-single-card"></div>
        </div>

      </div>

      <div class="new-card-footer">
        <div class="card-footer-content text-left">
            <div><%= "#{user.first_name}, #{user.age}" %></div>
            <div>Classics</div>
        </div>
      </div>

  <% end %>
  </div>
</div>

