<div class="card-container">
  <div class="card onboard-card">

      <div class="card-body">
      </div>

      <div class="card-footer">
        <button class="btn btn-primary btn-block onboard-card-next">Next</button>
      </div>

  </div>
</div>

