.tagged-photos-container {
}

.tagged-photo {
  height: 100px;
  width: 100px;
  background-size: cover;
  margin: 2px;
}

@media (min-width: $screen-sm-min) {
  .tagged-photo {
    height: 125px;
    width: 125px;
  }
}
