.wrapper-black {
  background-color: #393E46;
  height: calc(100vh - 44px);
}

.wrapper-black-empty {
  height: calc(10vh)
}

.edit-photo-image {
  background-size: cover;
  background-position: center;
  height: calc(60vh);
  flex-grow: 1;
}

.edit-box-image {
  display: flex;
  height: 20vh;
  align-items:center;
  justify-content: flex-end;

}
.dropdown-thing {
  display: flex;
  align-items:center;
  margin-right: 6px;
}
.edit-dropdown {
  p {
    font-size: 20px;
    margin-right: 10px;
  }
  color: white;
  font-size: 40px;
  .icon-edit-image {
    font-size: 40px;
  }
}
