<div class="banner" style="background: #4CA1AF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
  <div class="banner-content">
    <div class="landing-container">
      <h3 class="val-prop">Meteor is already at these universities:</h3>
      <div class="university_link">
        <%= link_to root_path do %>
          <h4>Oxford University</h4>
        <% end %>
      </div>

    </div>
  </div>
</div>
