<% if user_signed_in? %>
  <%= link_to profiles  %>
  <% else %>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('');">
      <div class="banner-content">
        <h1 class="main-name">Oxlove</h1>
        <div class="is-on">
          <p>is on</p>
          <h3 class="meteor-name">Meteor</h3>
        </div>
        <a class="btn btn-primary btn-lg">Start now</a>
      </div>
    </div>
<% end %>
