<% content_for(:title_tag) do %>
  Home - Meteor
<% end %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(14, 13, 5, 0.5) 25%, rgba(25, 15, 10, 0.6) 60%), url('http://res.cloudinary.com/dvojg9owe/image/upload/v1504350382/lincoln_crop_uc9deh.jpg');">
  <div class="banner-content">
    <div class="brand-logo">
      <%= cl_image_tag "oxlove_b65yt2", height: 150 %>
    </div>
    <h2 class="kill-margin brand-title">Oxlove Dating</h2>
    <div class="loginBtn loginBtn--facebook">
      <%= render 'devise/shared/social-login'  %>
    </div>
  </div>
</div>





