<div class="banner" style="background: #4CA1AF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
  <div class="banner-content">
    <div class="landing-container">
      <img src="http://mmsullivan.com/content/images/2014/May/meteor-icon.png" alt="" height="40px">
      <h3 class="val-prop">Create a custom dating app for your university in 20 seconds</h3>
      <button class="btn btn-primary btn-lg">Get started</button>
    </div>
  </div>
</div>
