.card {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-content {
  left: 5% !important;
  right: auto !important;
  text-align: left !important;
  h3 {
    font-family: $body-font;
    font-size: 35px;
    color:white;
  }
  p {
    margin-bottom: 0;
    color:white;
    font-family: $body-font;
    font-weight: lighter;
    font-size: 20px;
  }
}


