.card {
  position: relative;
}

.card-image {
  background-size: cover;
  background-position: center;
}

.card, .card-image {
  height: calc(100vh - 44px);
}

.card-content {
  left: 5% !important;
  right: auto !important;
  text-align: left !important;
  h3 {
    font-family: $body-font;
    font-size: 35px;
    color:white;
  }
  p {
    margin-bottom: 0;
    color:white;
    font-family: $body-font;
    font-weight: lighter;
    font-size: 20px;
  }
}

h2.profiles-title {
  padding-top: 20px;
}

@media (min-width: $screen-sm-min) {
  .card, .card-image {
    height: 350px;
    width: 250px;
  }

  .card {
    margin: 10px 0px;
  }

  .not-for-mobile-container {
    width: 790px;
    margin: auto;
  }
}



