.new-card-container {
  height: calc(100vh - 44px);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.new-card {
  height: 80%;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 0px rgba(74,74,74,0.6);
}

.new-card-photo {
  width: 100%;
  height: 80%;
  border-radius: 10px 10px 0 0;
}

.new-card-footer {
  border-radius: 0 0 10px 10px;
  height: 20%;
  display: flex;
  align-items: center;
  padding: 25px;
}
